"input_headers": [
        "Accept",
        "Accept-Language",
        "Authorization",
        "Content-Type",
        "Origin",
        "Referer",
        "User-Agent",
        "X-Forwarded-For",
        "X-Request-Id",
        "X-User-Id",
        "X-User-Name",
        "X-User-Roles"
      ]