PORT=

BROKER_URL=
NOTIFICATION_EXCHANGE=
ACCOUNT_QUEUE=
ACCOUNT_ROUTING_KEY=
ORDER_QUEUE=
ORDER_ROUTING_KEY=
CART_QUEUE=
CART_ROUTING_KEY=
CART_BATCH_WINDOW_MS=
CART_PREFETCH=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MAIL_FROM=
