_DEV_QUARKUS_KEYCLOAK_DEVSERVICES_ENABLED=

QUARKUS_HTTP_PORT=

QUARKUS_OIDC_AUTH_SERVER_URL=
QUARKUS_OIDC_CLIENT_ID=
QUARKUS_OIDC_CREDENTIALS_SECRET=
QUARKUS_OIDC_APPLICATION_TYPE=
QUARKUS_OIDC_TOKEN_AUDIENCE=

QUARKUS_MAILER_MOCK=
QUARKUS_MAILER_HOST=
QUARKUS_MAILER_PORT=
QUARKUS_MAILER_USERNAME=
QUARKUS_MAILER_PASSWORD=
QUARKUS_MAILER_TLS=
QUARKUS_MAILER_START_TLS=
QUARKUS_MAILER_LOGIN=
QUARKUS_MAILER_FROM=

QUARKUS_REST_CLIENT_KEYCLOAK_TOKEN_API_URL=
QUARKUS_REST_CLIENT_KEYCLOAK_TOKEN_API_CONNECT_TIMEOUT=
QUARKUS_REST_CLIENT_KEYCLOAK_TOKEN_API_READ_TIMEOUT=

QUARKUS_LOG_CATEGORY__COM_ECOMMERCE_AUTH__LEVEL=

KEYCLOAK_AUTH_REALM=
KEYCLOAK_AUTH_CLIENT_ID=
KEYCLOAK_ADMIN_API_CLIENT_ID=
KEYCLOAK_ADMIN_API_CLIENT_SECRET=
