_DEV_QUARKUS_KEYCLOAK_DEVSERVICES_ENABLED=
_DEV_QUARKUS_RABBITMQ_DEVSERVICES_ENABLED=

QUARKUS_HTTP_PORT=

QUARKUS_OIDC_AUTH_SERVER_URL=
QUARKUS_OIDC_CLIENT_ID=
QUARKUS_OIDC_CREDENTIALS_SECRET=
QUARKUS_OIDC_APPLICATION_TYPE=
QUARKUS_OIDC_TOKEN_AUDIENCE=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

QUARKUS_REST_CLIENT_KEYCLOAK_TOKEN_API_URL=
QUARKUS_REST_CLIENT_KEYCLOAK_TOKEN_API_CONNECT_TIMEOUT=
QUARKUS_REST_CLIENT_KEYCLOAK_TOKEN_API_READ_TIMEOUT=

QUARKUS_LOG_CATEGORY__COM_ECOMMERCE_AUTH__LEVEL=

KEYCLOAK_AUTH_REALM=
KEYCLOAK_AUTH_CLIENT_ID=
KEYCLOAK_ADMIN_API_CLIENT_ID=
KEYCLOAK_ADMIN_API_CLIENT_SECRET=
